body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.password-input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
}

.unlock-button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.unlock-button:hover {
    background-color: #555;
}

.message {
    margin-top: 10px;
    color: red;
}

.image-section {
    display: none;
    margin-top: 20px;
}

.image-section h6 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
text-align: left;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
}
